Adafruit-Blinka==8.19.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-requests==1.14.0
adafruit-circuitpython-typing==1.9.4
Adafruit-PlatformDetect==3.46.0
Adafruit-PureIO==1.1.11
asgiref==3.7.2
bootstrap4==0.1.0
contourpy==1.1.0
cycler==0.11.0
distlib==0.3.6
Django==4.2.2
django-autocomplete-light==3.9.7
django-ckeditor==6.7.0
django-js-asset==2.1.0
example-package==1.0.0
filelock==3.12.0
fonttools==4.40.0
kiwisolver==1.4.4
matplotlib==3.7.1
mysqlclient==2.1.1
numpy==1.25.0rc1
packaging==23.1
Pillow==9.5.0
platformdirs==3.5.1
pyftdi==0.54.0
pyparsing==3.1.0b2
pyserial==3.5
python-dateutil==2.8.2
pyusb==1.2.1
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.6.3
tzdata==2023.3
virtualenv==20.23.0
